<div class="jumbotron">
    <h1 class="display-4">Dev Skills</h1>
    <p class="lead">This is a simple app to display my Dev Skills.</p>
    <hr class="my-4">
    <p>I am excited to add to this list, as of now I have no skills.</p>
    <a class="btn btn-primary btn-lg" href="/skills" role="button">Peep skills</a>
</div>